/*FOOTER*/
.Footer
	width 100%
	
	/*Social*/
	&-social
		font-size 1.12em
		color white
		
		& a
			color white
			cursor pointer
			display inline-block
			
		& a span
			font-size 1.7em
			vertical-align middle
			padding-right 18px

	/*Menu*/
	&-menu
		display none
		width 100% 
		
		& div
			display flex
			justify-content space-around
			
		& div a
			cursor pointer
			color white
	
	/*Copyright*/
	&-copy
		background white
		width 100%
		display inline-block
		font-weight 500
		font-size 1.25em
		
		& a
			cursor pointer