footer.Footer
	div.Footer-social
		a(href="#", target="_blank")
			span.icon-facebook
			| Facebook
		a(href="#", target="_blank")
			span.icon-twitter
			| Twitter
		a(href="#", target="_blank")
			span.icon-instagram2
			| Instagram
		a(href="#", target="_blank")
			span.icon-linkedin
			| LinkedIn
	nav.Footer-menu
		div
			a(href="index.html")
				| Inicio
			a(href="quienes.html")
				| Quiénes somos
			a(href="emprendimientos.html")
				| Nuestros emprendimientos
			a(href="noticias.html")
				| Noticias
			a(href="contacto.html")
				| Contáctenos
			a(href="")
				| Mapa del sitio
			a(href="")
				| Politicas de privacidad
	div.Footer-copy
		p
			|	Todos los derechos reservados 2017. Diseño y desarrollo del sitio web por...